@use "global" as *;

.archive-works {
  background-color: #111;
}

.archive-works__mv {
  background-image: url(../images/works/archive-works-mv.jpg);
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  
  @include mq("md") {
    background-image: url(../images/works/archive-works-mv-PC.jpg);
  }
}

.archive-works__inner {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: rem(120);
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.archive-works__breadcrumbs {
}

.archive-works__category-tabs {
  margin-top: rem(70);
}

.archive-works__card-list {
  margin-top: rem(15);
}

.archive-works__pagenavi {
  font-size: rem(16);
  text-align: center;
  margin-top: rem(24);
}