@use "global" as *;

.page-content {
}

.page-content__mv {
  background-image: url(../images/content/page-content-mv.jpg);
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  
  @include mq("md") {
    background-image: url(../images/content/page-content-mv-PC.jpg);
  }
}

.page-content__inner {
  padding-bottom: rem(120);
}

.page-content__breadcrumbs {
}

.page-content__header {
  margin-top: rem(72);
  color: $white;
  letter-spacing: rem(2);
  
  @include mq("md") {
    max-width: rem(580);
    margin: 0 auto;
    margin-bottom: rem(38);
  }
}

.page-content__title {
  font-size: rem(20); 
  letter-spacing: rem(2);
  font-weight: $normal;
  text-align: center;

  @include mq("md") {
    font-size: rem(25); 
    line-height: rem(35);
  }
}

.page-content__text {
  color: #fff;
  font-size: rem(16);
  line-height: 1.44;
  letter-spacing: rem(2);
  margin-top: rem(22);  
  @include mq("md") {
    line-height: rem(35);
  }
}

.page-content__medias {
  margin-top: rem(82);

}

.anchor {

  @include mq("md") {
    padding-top: 70px;
    margin-top: -70px;
  }
}