@use "global" as *;

.page-content {
}

.page-content__mv {
  background-image: url(../images/content/page-content-mv.jpg);
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  
  @include mq("md") {
    background-image: url(../images/content/page-content-mv-PC.jpg);
  }
}

.page-content__inner {
  padding-bottom: rem(50);
}

.page-content__breadcrumbs {
  margin-top: rem(24);
}

.page-content__header {
  text-align: center;
  color: #fff;
  letter-spacing: rem(2);
 
  @include mq("md") {
    max-width: rem(580);
    margin: 0 auto;
    margin-bottom: rem(38);
  }
}

.page-content__title {
  font-size: rem(20); 

  @include mq("md") {
    font-size: rem(25); 
    line-height: rem(35);
  }
}

.page-content__text {
  color: #fff;
  font-size: rem(16);
  line-height: rem(23);
  letter-spacing: rem(2);
  margin-bottom: rem(7);
  
  @include mq("md") {
    line-height: rem(35);
  }
}

.page-content__medias {

  @include mq("md") {
  }
}

.anchor {
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}