@use "global" as *;

/* blog */
.blog {
  
}

.blog__inner {
  padding-top: rem(97);
  padding-bottom: rem(114);

  @include mq("md") {
    padding-top: rem(215);
    padding-bottom: rem(144);
  }
}

.blog__header {
  margin-bottom: rem(85);

  @include mq("md") {
    margin-bottom: initial;
  }
}

.blog__header-subtitle {
  margin-top: rem(-67);

  @include mq("md") {
    margin-top: rem(-68);
  }
}

.blog__items {
 
}

.blog__btn {
  text-align: center;
  font-size: rem(16);
  margin-top: rem(-1);
  margin-left: rem(20);
  margin-right: rem(20);
  
  @include mq("md") {
    margin-top: rem(23);
    margin-right: rem(0);
    margin-left: rem(0);

  }
}

