@use "global" as *;

/* news */

.news__inner {
  padding-top: rem(25);
  padding-bottom: rem(50);
  max-width: 1050px;
  margin: 0 auto;
}

.news__contents-wrraper {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
  }  
}

.news__contents {
  flex: 1;
  line-height: 1;
}

.news__content {
  color: $white;
  @include mq("md") {
    display: flex;
  }  
}
.news__content + .news__content {
  margin-top: rem(32);
}

.news__item a:hover {
  text-decoration: underline;
}

.news__date,
.news__category {
  display: inline-block;
  line-height: 1;
}

.news__date {
  font-size: rem(16);
}

.news__category {
  font-size: rem(14);
  padding: rem(7.5) rem(20);
  border: 1px solid $white;
  margin-left: rem(26);
}

.news__block {
  margin-top: rem(14);
  flex: 1;
  align-items: center;
  @include mq("md") {
    margin-top: initial;
    margin-left: rem(60);
    padding-top: rem(3);
  }
}

.news__text {
  font-size: rem(16);
  line-height: 1.5;
  color: $white;
}

.news__text:hover {
  text-decoration:underline ;
}

.news__news-btn {
  color: $white;
  text-align: center;
  margin-top: rem(25);
  @include mq("md") {
    text-align: left;
    margin-top: initial;
  }
}