@use "global" as *;

/* works */

.works__inner {
  padding-top: rem(70);
  padding-bottom: rem(50);

  @include mq("md") {
    padding-top: rem(150);
  }
}

.works__header {
  margin-bottom: rem(65);
  
  @include mq("md") {
    margin-bottom: initial;
  }
}

.works__body {

  @include mq("md") {
    position: relative;
    margin: 0 auto;
    padding: rem(60) 0;
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333333 30%, #333333 100%);
    z-index: 1;
  }
}

.works__cont {

  @include mq("md") {
    display: flex;
    align-items: center;
    max-width: rem(1140);
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.works__swiper {
  width: 100%;
  background-color: transparent;

  @include mq("md") {
    max-width: rem(557);
    margin-right: rem(32);
  }
}

.works__desc {
  background-color: #333;
  padding-top: rem(20);
  padding-bottom: rem(20);
  padding-left: rem(20);
  padding-right: rem(20);
  
  @include mq("md") {
    flex: 1;
    padding-bottom: 0;
    padding-left: rem(0);
    margin-top: 0;
    padding-right: rem(0);
    padding-top: 0;
    z-index: 1;
  }
}

.works__desc-inner {
  max-width: rem(600);
  margin: 0 auto;
}

.works__main-title {
  color: #fff;
  font-size: rem(20);
  letter-spacing: rem(2);
  margin-bottom: rem(25);
  text-align: center;

  @include mq("md") {
    font-size: rem(25);
    line-height: rem(25);
    letter-spacing: rem(0.5);
    margin-bottom: rem(42);
    text-align: left;
  }
}

.works__text {
  font-size: rem(16);
  color:#fff;
  line-height: calc(23/16);
  letter-spacing: rem(2);
  margin-bottom: rem(25);
  
  @include mq("md") {
    line-height: rem(35);
    letter-spacing: rem(0.5);
    margin-bottom: rem(48);
  }
}

.works__btn {
  line-height: 1;
}

