@use "global" as *;

.works-box {
  position: relative;
  padding: 2.5em 1em;
  border: solid 1px $white;
  margin-top: rem(48);
}
.works-box__title {
  position: absolute;
  display: inline-block;
  top: -15px;
  left: 20px;
  padding: rem(8) rem(15);
  line-height: 1;
  font-size: rem(20);
  color: $white;
  border: solid 1px $white;
  border-radius: rem(20);
  background-color: $black;
}
.works-box__title p {
  margin: 0; 
  padding: 0;
}