@use "global" as *;

.box26 {
  position: relative;
  margin: 2em 0;
  padding: 2.5em 1em;
  border: solid 1px $white;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -15px;
  left: 20px;
  padding: 5px 15px;
  line-height: 1;
  font-size: rem(20);
  color: $white;
  border: solid 1px $white;
  border-radius: 15px;
  background-color: $black;
}
.box26 p {
  margin: 0; 
  padding: 0;
}