@use "global" as *;

.category-tabs {
  display: flex;
  flex-wrap: wrap;
  font-size: rem(16);
  color: $white;
  align-items: center;
  list-style: none;
  letter-spacing: rem(2);
}

.category-tabs .cat-item {
  display: block;
  margin-right: rem(16);
  padding: rem(3) rem(8);
}

.category-tabs .cat-item.current-cat {
  background: #fff;
  color: #111;
}