@use "global" as *;


input[type="text"],
input[type="search"], 
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	padding: 10px 20px 9px 20px;
	border: 1px solid #ccc;
	font-size: 16px;
    background-color: $white;
}

/*placeholderスタイルの調整
----------------------------------*/
/* Placeholder Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: #ccc !important;
  font-style: normal;
}

/* Placeholder Firefox 18- */
:-moz-placeholder {
  opacity: 1;
  color: #ccc !important;
  font-style: normal;
}

/* Placeholder Firefox 19+ */d
::-moz-placeholder {
  opacity: 1;
  color: #ccc !important;
  font-style: normal;
}

/* Placeholder IE 10+ */
:-ms-input-placeholder {
  color: #ccc !important;
  font-style: normal;
}

/* ==================================================================
フォームレイアウト
=================================================================== */
/*大枠レイアウト
---------------------------------*/
.form {
	margin-top: rem(50);
}
.form fieldset,
.form legend {
	display: contents; /*CSS上は要素として存在しないものとみなす*/
}
.form__item {
	padding-top: rem(20);
	padding-bottom: rem(10);
}
.form__ttl {
	display: inline-block;
	margin-bottom: rem(20);
	font-size: rem(14);
	letter-spacing: rem(0.7);
}
@media screen and (min-width: 768px),print {
	.form__item { 
		display: flex; /*対象がdiv要素のみとなるのでflex利用可*/
	
	}
	.form__ttl {
		width: 25%;
		margin-bottom: 0;
		text-align: right;
		padding-right: rem(30);
		padding-top: rem(10);
	}
	.form__body {
		width: 50%;
	}
}

/*必須・任意ラベル
---------------------------------*/
.label-required,
.label-any {
	display: inline-block;
	margin-left: 0.5em;
	padding: 0.3em 0.5em;
	border-radius: 4px;
	color: #fff;
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1;
}
.label-required {
	background: #c00;
}
.label-any {
	background: #3D98B4;
}


/*送信ボタンエリア
---------------------------------*/
.btnArea {
	margin-top: 50px;
	text-align: center;
}
.submitBtn {
	-webkit-appearance: none;
	appearance: none;
	width: 90%;
	max-width: 300px;
	margin: 0;
	padding: 15px;
	border: 0;
	border-radius: 50px;
	background: #111111;
	color: #fff;
	cursor: pointer;
	transition: opacity .3s;
}
.submitBtn:hover {
	opacity: 0.7;
}