@use "global" as *;

.page-overview-table {
  display: flex;
  flex-wrap: wrap;

  @include mq("md") {
    font-size: rem(13);
  }
}

.page-overview-table__team {
  font-size: rem(13);
  color: #fff;
  line-height: calc(24/13);
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-left: rem(5);
  border-bottom: #fff 1px solid;
  width: 33%;
  
  @include mq("md") {
    width: 12%;
  }
}


.page-overview-table__description {
  font-size: rem(13);
  letter-spacing: rem(0);
  line-height: calc(24/13);
  color: #fff;
  padding-left: rem(5);
  padding-top: rem(15);
  padding-bottom: rem(15);
  border-bottom: #fff 1px solid;
  width: 67%;
  
  @include mq("md") {
    line-height: 1.8;
    width: 88%;
  } 
}