@use "global" as *;

/* 投稿記事ヘッダー
------------------------------------------------------ */
.post-header {
  max-width: 800px;
  margin: auto;
  & + * {
    margin-top: 30px !important; //ヘッダー下は必ずこの数値
    @include mq("md") {
      margin-top: 40px !important;
    }
  }
  padding-top: rem(40);
  padding-bottom: rem(20);
}

.post-header__meta {
  display: flex;
  margin-top: rem(30);
  .tags {
    display: inline-block;
    margin-left: 30px;
    font-size: rem(16);
    padding: rem(5),rem(10);
    border: 1px solid $white;
  }
}

.post-header__title {
  font-size: rem(20);
  line-height: calc(35/20);
  font-weight: $normal;
  @include mq("md") {
    font-size: 36px;
  }
}