@use "global" as *;

/* 投稿記事本文エリア
------------------------------------------------------ */

.post-body {
  max-width: 800px;
  margin: 80px auto 0;

  //floatのclear忘れがあっても本文エリア内で解除されるようにしておく
  &::after { 
    content:"";
    display: block;
    clear: both;
  }
  @include mq("md") {
    margin: 100px auto 0;
  }

  //post-body直下の要素（見出しを除く）に1.75emの上マージン
  >*:not(h2,h3,h4,h5,h6) {
    margin-top: 1.75em;
    line-height: 2.0;
  }

  //見出し要素に固有のスタイルを定義。見出し下余白は一律指定の1.75emを上書きすることで指定サイズの余白を確保
  h2 {
    margin-top: 80px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: 5px solid $white;
    font-size: 18px;
    letter-spacing: rem(0.4);

    & + * {
      margin-top: 25px;
    }
    @include mq("md") {
      margin-top: 100px;
      font-size: 20px;
      & + * {
        margin-top: 40px;
      }
    }
  }

  h3 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #FFEA2E 0 30%, #dedede 30%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    & + * {
      margin-top: 20px;
    }
    @include mq("md") {
      margin-top: 50px;
      font-size: 18px;
      letter-spacing: rem(0.4);
      & + * {
        margin-top: 30px;
      }
    }
  }

  h4 {
    margin-top: 30px;
    color: $black;
    font-size: 18px;
    & + * {
      margin-top: 15px;
    }
    @include mq("md") {
      margin-top: 40px;
      font-size: 20px;
      & + * {
        margin-top: 20px;
      }
    }
  }

  h5 {
    margin-top: 30px;
    & + * {
      margin-top: 10px;
    }
    @include mq("md") {
      margin-top: 30px;
      font-size: 18px;
      & + * {
        margin-top: 15px;
      }
    }
  }

  h6 {
    margin-top: 30px;
    color: #666;
    & + * {
      margin-top: 10px;
    }
    @include mq("md") {
      margin-top: 30px;
      font-size: 16px;
      & + * {
        margin-top: 10px;
      }
    }
  }

  ul {
    >li {
      margin-top: 1.5em;
      position: relative;
      padding-left: 1em;
      &::before {
        position: absolute;
        left: 0;
        top: 0.75em;
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $white;
      }
    }
  }

  ol {
    >li {
      margin-top: 1.5em;
      margin-left: 1em;
      list-style-type: decimal;
    }
  }
}