@use "global" as *;

.related-articles-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  
  @include mq("md") {
    flex-direction: row;
    max-width: 1150px;
  }
}

.related-articles-list__item {
  
  @include mq("md") {
    max-width: 100%;
    max-width: calc(100% / 4 - 5.125rem / 4);
  }
}

.related-articles-list__item + .related-articles-list__item 
{
  margin-top: rem(25);
  @include mq("md") {
    margin-top: initial;
    margin-left: rem(25);
  }
}

.related-articles-list__item:nth-child(4n + 1) {

  @include mq("md") {
    margin-left: initial;
  }
}

.related-articles-list__item:nth-child(n + 5) {
  
  @include mq("md") {
    margin-top: rem(25);
  }
}
