@use "global" as *;

// ページネーション
.swiper-pagination {
  /* position: absolute; */
  text-align: center;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  background: #dbdbdb;
  outline: none;
  margin-right: 40px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #333;
}

.swiper-slider2-container {
  position: relative;
  width: 100%;
  @include mq("md") {
    padding-top: 20px;
  }
}

.swiper-slider2-container img {
  width: 100%;
}

.swiper-slider2-button-prev {
  left:-50px;
}
.swiper-slider2-button-next {
  right: -50px;
  transform: scale(-1, 1);
}

.slider2-pagenation-wrapper {
  position: relative;
  margin: 0 auto;
  @include mq("md") {
    padding-top: 20px;
    margin-left: 30px;
  }
}

