@use "global" as *;

.works-card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  
  @include mq("md") {
    flex-direction: row;
    max-width: 1150px;
  }
}

.works-card-list__item {
  
  @include mq("md") {
    width: 100%;
    max-width: calc(100% / 2 - 3rem / 2);
  }
}
.works-card-list__item + .works-card-list__item 
{
  margin-top: rem(25);
  @include mq("md") {
    margin-top: initial;
    margin-left: rem(48);
  }
}
.works-card-list__item:nth-child(2n + 1) {

  @include mq("md") {
    margin-left: initial;
  }
}
.works-card-list__item:nth-child(n + 3) {
  
  @include mq("md") {
    margin-top: rem(114);
  }
}
